-
  const mainMenuItems = [
    {
      text: "Новости",
      link: "#.html"
    },
    {
      text: "Контакты",
      link: "#.html"
    },
    {
      text: "Правила",
      link: "#.html"
    },
  ];

mixin main-menu()
  ul.main-menu__list
    each item in mainMenuItems
      li.main-menu__item
        a(href= item.link)= item.text